
body{
    background-color: honeydew;
    text-align: center;
}



ul.listOfWords{
    
    display: inline-block;
    padding-left: 0;
    text-align: left;
    
   
}




button.newSessionClass{
    background-color: rgb(243, 41, 41);
    
}

button.newWordClass{
    background-color: lawngreen;
    
}